<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424">
    <div class="col-lg-4" >
        <div>
         <a href="../Cliente/Index"><img src="~/images/clientes.png" width="180" height="180" /></a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>        
    <div class="col-lg-4" >
        <div>
            <a href="../Vendedor/Index"><img src="~/images/vendedores.png" width="180" height="180" /></a>
        </div>
        <span>Cadastro de Vendedores</span>
    </div>        
        <div class="col-lg-4" >
        <div>
            <a href="../Produto/Index"><img src="~/images/produtos.png" width="180" height="180" /></a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>    
</div>
<br />
<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424">
    <div class="col-lg-4" >
        <div>
            <a href="../Venda/Index"> <img src="~/images/vendas.png" width="180" height="180" /></a>
        </div>
        <span>Registro de Vendas</span>
    </div>        
    <div class="col-lg-4" >
        <div>
            <a href="../Relatorio/Index"> <img src="~/images/relatorios.png" width="180" height="180" /></a>
        </div>
        <span>Relatórios</span>
    </div>        
        <div class="col-lg-4" >
    <div>
            <img src="~/images/configuracoes.png" width="180" height="180" />
    </div>
        <span>Configurações</span>
    </div>    
</div>