<h2>Vendedor Excluido Com Sucesso</h2>

<button type="button" class="btn btn-danger" onclick="Voltar()">Listagem De Vendedores</button>

<script>

    function Voltar() {
        window.location.href = "../../Vendedor/Index";
    }

</script>