<h2>Produto Excluido Com Sucesso</h2>

<button type="button" class="btn btn-danger" onclick="Voltar()">Listagem De Produtos</button>

<script>

    function Voltar() {
        window.location.href = "../../Produto/Index";
    }

</script>