<h2>Cliente Excluido Com Sucesso</h2>

<button type="button" class="btn btn-danger" onclick="Voltar()">Listagem De Clientes</button>

<script>

    function Voltar() {
        window.location.href = "../../Cliente/Index";
    }

</script>